.main{
    width:1500px;
    height: 400px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.backlog{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
.readytodo{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
.inProgress{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
.done{
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
h3{
    display: inline;
    margin: 10px;
}