.playBtn {
  background-color: greenyellow;
  color: white;
  border: none;
  width: 80px;
  height: 20px;
  position: relative;
}

.pBtn {
  background-color: goldenrod;
  color: white;
  border: none;
  width: 80px;
  height: 20px;
}

.playBtn:hover {
  background-color: blue;
}


.playBtn:hover::after {
  content: "playing...";
  position: absolute;
  top: -25px;
  left: 0;
  color: black;
  background: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}
